<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    <title>泉州华中科技大学智能制造研究院</title>
    <link rel="stylesheet" href="~/Content/element.css"/>
    <link rel="stylesheet" href="~/Content/display.css" />
    <link rel="stylesheet" href="~/Content/site.css" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/lib.js"></script>
    <script src="~/Scripts/config.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/element.js"></script>
    <script>
        //check login
        //var userObj = getLocalObj('user')
        if (!_getCookie('UserName')) {
            location.href="/login"
        }
        var userInfo = {
            username: _getCookie('UserName'),
            companyId: _getCookie('CompanyId'),
            role: _getCookie('Role')
        }
        mixin.data.user = userInfo

    </script>
</head>
<body id="body">
    <div id="app">
        <el-header>
            @RenderPage("~/Views/Shared/Head_login.cshtml")
        </el-header>
        <el-container>
            <el-main>
                @RenderBody()
            </el-main>
            <el-footer>
                @RenderPage("~/Views/Shared/Footer.cshtml")
            </el-footer>
        </el-container>
    </div>
    <div id="tempPage"></div>
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    var needLogin = '@ViewBag.needLogin'
    //transform page size when in mobile screen
    var screenHeight = window.screen.height;
    var screenWidth = window.screen.width;
    var innerHeight = window.innerHeight
    var innerWidth = window.innerWidth
    var scale = screenWidth / 1280
    var mobileScale = innerWidth / 1280
    console.log("innerWidth = " + innerWidth)
    console.log("innerHeight = " + innerHeight)
    //if (screenWidth <= 768) {
    //    transFormSize(innerWidth / 1280)
    //}
    //add listen on screen rotate

    // 添加onorientationchange事件监听
    //var evt = "onorientationchange" in window ? "orientationchange" : "resize";
    
    window.addEventListener("orientationchange", resize, false);
    function resize() {
        if (screenWidth > 768 && screenHeight > 768) return;
        if (window.orientation == 0 || window.orientation == 180) {
            screenHeight >= screenWidth ? transFormSize(screenWidth / 1280) : transFormSize(screenHeight / 1280)
            
        } else {
            alert("screenWidth = " + screenWidth)
            alert("screenHeight = " + screenHeight)
            screenHeight < screenWidth ? transFormSize(screenWidth / 1280) : transFormSize(screenHeight / 1280)
        }
    }
    resize();

    function transFormSize(_scale) {
        var transformCss = {
            "transform": "scale(" + _scale + ")",
            "-ms-transform": "scale(" + _scale + ")",
            "-ms-transform-origin": "0 0",
            "-webkit-transform": "scale(" + _scale + ")",
            "-webkit-transform-origin": "0 0",
            "-moz-transform": "scale(" + _scale + ")",
            "-moz-transform-origin": "0 0",
            "-o-transform": "scale(" + _scale + ")",
            "-o-transform-origin": "0 0"
        }
        $("#body").css(transformCss)
    }
</script>
